@page "/join"
@using PLUG.WebApp.Services
@rendermode InteractiveServer
@inject ApplyService Service


<PageTitle>Wniosek członkowski</PageTitle>
<div class="row justify-content-center">
    <h3 class=" col-8 display-3">Wniosek członkowski</h3>
    <form method="post" @onsubmit="Submit" @formname="apply-form" class="p-3  gx-3 col-8 align-self-center">
        <AntiforgeryToken/>
        <div class="mb-3">
            <label for="@Model!.FirstName">Imię</label>
            <InputText @bind-Value="Model!.FirstName" class="form-control form-control-lg"/>
        </div>
        <div class="mb-3">
            <label for="@Model!.LastName">Nazwisko</label>
            <InputText @bind-Value="Model!.LastName" class="form-control form-control-lg"/>
        </div>
        <div class="mb-3">
            <label for="@Model!.Email">Adres e-mail</label>
            <InputText @bind-Value="Model!.Email" class="form-control form-control-lg"/>
        </div>
        <div class="mb-3">
            <label for="@Model!.Phone">Numer telefonu</label>
            <InputText @bind-Value="Model!.Phone" class="form-control form-control-lg"/>
        </div>
        <div class="mb-3">
            <label for="@Model!.Address">Adres korespondencyjny</label>
            <InputTextArea @bind-Value="Model!.Address" class="form-control form-control-lg"/>
        </div>
        <div class="mb-3">
            <label for="">Numer członkowski 1. osoby rekomedującej</label>
            <InputText @bind-Value="Recommenders[0]" class="form-control form-control-lg"/>
        </div>
        <div class="mb-3">
            <label for="">Numer członkowski 2. osoby rekomedującej</label>
            <InputText @bind-Value="Recommenders[1]" class="form-control form-control-lg"/>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Aplikuj</button>
    </form>
</div>

@code {

    [SupplyParameterFromForm]
    public ApplicationForm? Model { get; set; }

    public string[] Recommenders = new string[2];

    protected override void OnInitialized() => Model ??= new();

    private async Task Submit()
    {
        Model!.Recommendations = Recommenders;
        await Service.CreateApplication(Model);
    }

}