@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using System.Web
@using BlazorBootstrap
@inject NavigationManager Nav

<header>
    <div class="px-3 py-3 bg-dark bg-gradient text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="logo.png" alt="Polish Leather Uniform Group" class="text-white" style="max-height:96px;"/>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <NavLink class="nav-link text-white text-center" href="" Match="NavLinkMatch.All">
                            <i class=" display-6 bi bi-house"></i><br/>
                            Home
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white text-center" href="membership">
                            <i class="display-6 bi bi-people"></i><br/>
                            Strefa członka
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white text-center" href="events">
                            <i class="display-6 bi bi-calendar-event"></i><br/>
                            Wydarzenia
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white text-center" href="events">
                            <i class="display-6 bi bi-gear"></i><br/>
                            Ustawienia
                        </NavLink>
                    </li>
                    <li>
                        <a href="https://www.plug.org.pl" target="_blank" class="nav-link text-white text-center">
                            <i class="display-6 bi bi-globe2"></i><br/>
                            Strona WWW
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom border-light mb-3 bg-light  shadow-sm">
        <div class="container d-flex flex-wrap justify-content-center">

            <AuthorizeView>
                <Authorized>

            <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <strong>Dzień dobry @*@context.User.Identity?.Name*@ !</strong>
            </div>
            <div class="text-end">
                <form method="post" action="logout" class="">
                    <AntiforgeryToken/>
                    <button class="btn btn-outline-primary" type="submit">Wyloguj się</button>
                </form>
            </div>
            </Authorized>
                <NotAuthorized>
                    <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                                 <strong class="">Dzień dobry!</strong>
                             </div>
                    <div class="text-end">
                        <NavLink type="button" class="btn btn-light text-dark me-2" @onclick="LogIn">Logowanie Członków</NavLink>
                        <NavLink type="button" class="btn btn-primary" href="join">Dołącz!</NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</header>
<div class="container">
    <main>
        <article class="px-4">
            @Body
        </article>
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
@code {

    private void LogIn()
    {
        var returnUrl = Nav.ToBaseRelativePath(Nav.Uri);
        Nav.NavigateTo($"login?returnUrl={HttpUtility.UrlEncode(returnUrl)}", forceLoad: true);
    }

}