@page "/members"
@using ONPA.WebApp.Data
<h2>Członkowie</h2>
<div class="content">
      <FluentDataGrid TGridItem="MemberItem">
            <PropertyColumn Property="c =>c.CardNumber " Title="Numer Karty" />
            <PropertyColumn Property="c =>c.FirstName " Title="Imię" />
            <PropertyColumn Property="c =>c.LastName " Title="Nazwisko" />
            <PropertyColumn Property="c =>c.Email " Title="Email" />
            <PropertyColumn Property="c =>c.JoinDate.Date " Title="Data dołączenia" />
      </FluentDataGrid>
</div>
@code {
    GridItemsProvider<ApplicationItem> applicationsProvider = default!;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
}
